.a11y-slider-container {
  position: relative;
  direction: ltr;
}

.a11y-slider {
  -ms-overflow-style: none;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.a11y-slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.a11y-slider > * {
  box-sizing: inherit;
  scroll-snap-align: start;
}

.a11y-slider-sr-only,
.a11y-slider-status {
  clip: rect(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 1em;
  font-family: inherit;
  text-align: center;
}

.a11y-slider-sr-only:focus {
  clip: auto;
  position: static;
  margin: 0;
  background: #000;
  padding: 10px;
  width: 100%;
  height: auto;
  color: #fff;
}

.a11y-slider-hide {
  display: none;
}

.a11y-slider-scrolling {
  cursor: grabbing;
  scroll-behavior: auto;
  scroll-snap-type: none;
  user-select: none;
}

:root {
  --soft-blue: hsl(252deg 66% 62%);
  --soft-orange: hsl(28deg 89% 67%);
  --very-soft-red: hsl(0deg 79% 79%);
  --soft-red: hsl(7deg 77% 66%);
  --moderate-cyan: hsl(172deg 46% 57%);
  --very-dark-magenta: hsl(314deg 46% 23%);
  --very-dark-gray: hsl(0deg 0% 1%);
  --dark-grayish-orange: hsl(30deg 5% 45%);
  --very-pale-orange: hsl(28deg 100% 97%);
  --white: hsl(0deg 0% 100%);
  --step-0: clamp(1rem, calc(0.94rem + 0.27vw), 1.13rem);
  --step-1: clamp(1.5rem, calc(1.24rem + 1.09vw), 2rem);
  --step-2: clamp(1.63rem, calc(1.18rem + 1.9vw), 2.5rem);
  --step-3: clamp(2.25rem, calc(1.61rem + 2.72vw), 3.5rem);
  --space-2xs: clamp(1rem, calc(0.49rem + 2.18vw), 2rem);
  --space-xs: clamp(2.5rem, calc(1.99rem + 2.18vw), 3.5rem);
  --space-s: clamp(1.5rem, calc(0.19rem + 5.58vw), 4.06rem);
  --space-m: clamp(1.5rem, calc(-0.76rem + 9.66vw), 5.94rem);
  --space-l: clamp(2.5rem, calc(-0.21rem + 11.56vw), 7.81rem);
  --space-xl: clamp(6.25rem, calc(5.1rem + 4.9vw), 8.5rem);
  --transition-base: 200ms ease-in-out;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/PlusJakartaSans-Bold.woff2") format("woff2");
  font-family: "Plus Jakarta Sans";
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/PlusJakartaSans-Medium.woff2") format("woff2");
  font-family: "Plus Jakarta Sans";
  font-display: swap;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  background-repeat: no-repeat;
  padding: 0;
}

:focus {
  outline: 0.1875rem solid var(--very-dark-gray);
  outline-offset: 0.3125rem;
}

body {
  background-color: var(--very-pale-orange);
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
  min-height: 100vh;
  color: var(--dark-grayish-orange);
  font-weight: 500;
  font-size: var(--step-0);
  line-height: 1.5;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-rendering: optimizeSpeed;
}

main {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

p {
  max-width: 55ch;
}

h1,
h2 {
  color: var(--very-dark-gray);
  line-height: 1.25;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

[tabindex="-1"]:focus {
  outline: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

button[type] {
  cursor: pointer;
  font: inherit;
}

ul[role=list] {
  list-style: none;
}

img,
svg {
  vertical-align: middle;
}

svg {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

svg path {
  fill: currentColor;
}

[href] {
  text-decoration-color: transparent;
  text-underline-offset: 0.3em;
}

[href="#main"] {
  display: inline-block;
  position: fixed;
  top: 3rem;
  left: 0;
  transform: translateX(-200%);
  z-index: 200;
  background-color: var(--very-dark-gray);
  padding: 1em 2em;
  color: var(--very-pale-orange);
  font-size: 1.25rem;
}

@media (prefers-reduced-motion: no-preference) {
  [href="#main"] {
    transition: transform var(--transition-base);
  }
}
[href="#main"]:focus {
  transform: translate(0);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--space-2xs);
  padding-left: var(--space-2xs);
  max-width: 73.375rem;
}

.call-to-action {
  display: inline-block;
  border-radius: 2em;
  padding: 0.875rem 2.8125rem;
  font-size: 1rem;
}
@media (prefers-reduced-motion: no-preference) {
  .call-to-action {
    transition: background-color var(--transition-base);
  }
}

.call-to-action--dark {
  background-color: var(--very-dark-gray);
  color: var(--very-pale-orange);
}
@media (hover: none) {
  .call-to-action--dark {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .call-to-action--dark:active {
    background-color: var(--soft-blue);
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover: hover) {
  .call-to-action--dark:hover {
    background-color: var(--soft-blue);
  }
}

.call-to-action--light {
  background-color: var(--soft-red);
  color: var(--very-pale-orange);
}
@media (hover: none) {
  .call-to-action--light {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .call-to-action--light:active {
    background-color: var(--soft-orange);
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover: hover) {
  .call-to-action--light:hover {
    background-color: var(--soft-orange);
  }
}

.slider__wrapper {
  --scrollbar-background: var(--very-dark-gray);
  --scrollbar-color: var(--very-pale-orange);
  display: flex;
  padding-bottom: 1rem;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background);
}

.slider__wrapper::-webkit-scrollbar {
  height: 1rem;
}

.slider__wrapper::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
}

.slider__wrapper::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--scrollbar-background) 0, var(--scrollbar-color) 0.25rem, var(--scrollbar-color) 0.25rem, var(--scrollbar-color) 0.75rem, var(--scrollbar-background) 0.75rem);
  background-color: var(--scrollbar-color);
}

.slider__wrapper > * {
  flex: 0 0 33.75rem;
}

.slider__wrapper img {
  flex-basis: auto;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.slider__wrapper > * + * {
  margin-left: 1.875rem;
}

.slider__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.slider__buttons button[type] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  background-color: var(--very-dark-gray);
  width: 4rem;
  height: 4rem;
}
@media (hover: none) {
  .slider__buttons button[type] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .slider__buttons button[type]:active {
    background-color: var(--soft-blue);
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover: hover) {
  .slider__buttons button[type]:hover {
    background-color: var(--soft-blue);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .slider__buttons button[type] {
    transition: background-color var(--transition-base);
  }
}

.js .slider__wrapper {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
  max-width: 90rem;
  height: 22.5rem;
  overflow-x: hidden;
}

.js .slider__wrapper > * {
  flex: 0 0 auto;
  width: 100%;
}
@media screen and (min-width: 46.875em) {
  .js .slider__wrapper > * {
    width: 33.33%;
  }
}

.js .slider__wrapper img {
  width: 100%;
}

.edge {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.hero {
  margin-bottom: var(--space-xl);
  text-align: center;
}

.hero p {
  margin-right: auto;
  margin-left: auto;
}

.hero [role=list] {
  --flow-space: 4.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  text-align: left;
}
@media screen and (min-width: 46.875em) {
  .hero [role=list] {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, clamp(8.125rem, 16vw, 10rem)), 1fr));
  }
}

.hero li {
  display: flex;
  align-items: flex-end;
  border-radius: 0.5rem;
  background-position: top 1.5rem right 1.5rem;
  padding-top: 6.25rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.hero li:first-child {
  grid-row: span 2;
  grid-column: span 2;
  background-image: url("/svg/pattern-graphic-design.svg");
  background-color: var(--soft-blue);
  padding-top: 12.5rem;
  color: var(--white);
}

.hero li:nth-child(4),
.hero li:nth-child(5),
.hero li:last-child {
  grid-column: span 2;
  color: var(--white);
}

.hero li:nth-child(2) {
  background-image: url("/svg/pattern-ui-ux.svg");
  background-color: var(--soft-orange);
  color: var(--white);
}

.hero li:nth-child(3) {
  background-image: url("/svg/pattern-apps.svg");
  background-color: var(--very-soft-red);
  color: var(--white);
}

.hero li:nth-child(4) {
  background-image: url("/svg/pattern-photography.svg");
  background-color: var(--moderate-cyan);
  color: var(--white);
}

.hero li:nth-child(5) {
  background-image: url("/svg/pattern-illustrations.svg");
  background-color: var(--soft-red);
  color: var(--white);
}

.hero li:last-child {
  background-image: url("/svg/pattern-motion-graphics.svg");
  background-color: var(--very-dark-magenta);
  color: var(--white);
}

.profile {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  text-align: center;
}
@media screen and (min-width: 46.875em) {
  .profile {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}

.profile img {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 27.8125rem;
}

.profile :first-child {
  flex-grow: 1;
  flex-basis: min(50%, 27.8125rem);
}

.profile :last-child {
  flex-grow: 999;
  flex-basis: min(50%, 34.625rem);
}

.work {
  --flow-space: 3.5rem;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  text-align: center;
}

.work h2 {
  font-size: 2rem;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
  border-radius: 0.625rem;
  background-color: var(--very-dark-gray);
  padding: 5rem var(--space-s);
  padding-right: var(--space-m);
  color: var(--very-pale-orange);
  text-align: center;
}
@media screen and (min-width: 46.875em) {
  .book {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.book :focus {
  outline-color: var(--very-pale-orange);
}

@media screen and (min-width: 46.875em) {
  .book__wrapper {
    flex-grow: 0;
    flex-basis: 33.75rem;
  }
}

.book h2 {
  color: inherit;
}

.book p {
  margin-right: auto;
  margin-left: auto;
}

.book a {
  flex-shrink: 0;
  justify-self: center;
}
@media screen and (min-width: 46.875em) {
  .book a {
    justify-self: end;
  }
}
