.attribution {
  margin-top: 2em;
  text-align: center;
}

.attribution p {
  margin-right: auto;
  margin-left: auto;
}

.attribution [href] {
  color: var(--very-dark-gray);
  text-decoration-color: currentColor;
}
