@use "../abstracts" as *;

$-button-width: rem(64);
$-button-height: $-button-width;
$-slide-width: rem(540);

.slider__wrapper {
  --scrollbar-background: var(--very-dark-gray);
  --scrollbar-color: var(--very-pale-orange);

  display: flex;
  padding-bottom: 1rem;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background);
}

.slider__wrapper::-webkit-scrollbar {
  height: 1rem;
}

.slider__wrapper::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
}

.slider__wrapper::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    var(--scrollbar-background) 0,
    var(--scrollbar-color) 0.25rem,
    var(--scrollbar-color) 0.25rem,
    var(--scrollbar-color) 0.75rem,
    var(--scrollbar-background) 0.75rem
  );
  background-color: var(--scrollbar-color);
}

.slider__wrapper > * {
  flex: 0 0 $-slide-width;
}

.slider__wrapper img {
  flex-basis: auto;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.slider__wrapper > * + * {
  margin-left: rem(30);
}

.slider__buttons {
  display: flex;
  justify-content: center;
  gap: rem(16);
}

.slider__buttons button[type] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  background-color: var(--very-dark-gray);
  width: $-button-width;
  height: $-button-height;

  @include hover {
    background-color: var(--soft-blue);
  }

  @include prefers-motion {
    transition: background-color var(--transition-base);
  }
}

.js .slider__wrapper {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
  max-width: rem(1440);
  height: rem(360);
  overflow-x: hidden;
}

.js .slider__wrapper > * {
  flex: 0 0 auto;
  width: 100%;

  @include breakpoint-up("tiny") {
    width: 33.33%;
  }
}

.js .slider__wrapper img {
  width: 100%;
}
